{% extends "layout.html" %} {% block body %}

<div>
  <h2>Tapahtumat</h2>

  <br>
  <h4>Tapahtumia yhteensä: {{ eventCount }}</h4>
  <br>

  <table class="table">
    <th>Nimi</th>
    <th>Paikka</th>
    <th>Aika</th>
    <th>Osallistujia</th>
    <th>Kommentteja</th>

    {% for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.date_time }}</td>
      <td>{{ event.attendeeCount }}</td>
      <td>{{ event.commentCount }}</td>
      <td>
        <a href="{{ url_for('admin_show', event_id=event.id) }}">
          <button class="btn btn-sm btn-warning">Yhteenveto</button>
        </a>
      </td>
      <td>
        <a href="{{ url_for('event_edit', event_id=event.id) }}">
          <button class="btn btn-sm btn-primary">Muokkaa</button>
        </a>
      </td>
      <td>
        <form
          method="POST"
          action="{{ url_for('event_delete', event_id=event.id) }}"
        >
          <button type="submit" class="btn btn-sm btn-danger">Poista</button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </table>
</div>

{% endblock %}
