{% extends "layout.html" %} {% block body %}

<div>
  <h1>Tiedot</h1>
  <h5>{{ event.name }}</h5>
  <h5>{{ event.location }}</h5>
  <h5>{{ event.date_time }}</h5>

  <h2>Osallistujat</h2>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>
          Nimi
        </th>
      </tr>
    </thead>
    {% for person in participants %}
    <tr>
      <td>{{ person.name }}</td>
    </tr>
    {% endfor %}
  </table>

  <br />
  <br />

  <h2>Tapahtuman kommentit</h2>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Kirjoittaja</th>
        <th>Kommentti</th>
        <th>Ajankohta</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    {% for comment in comments %}
    <tr>
      <td>{{ comment.name }}</td>
      <td>{{ comment.content }}</td>
      <td>{{ comment.date }}</td>
      <td>
        <a href="{{ url_for('comment_edit', comment_id=comment.id) }}">
          <button class="btn btn-sm btn-primary">Muokkaa</button>
        </a>
      </td>
      <td>
        <form
          method="POST"
          action="{{ url_for('comment_delete', comment_id=comment.id) }}"
        >
          <button class="btn btn-sm btn-danger" type="submit">Poista</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
