{% extends "layout.html" %} {% block body %}
<div class="container border" style="width: 45%;background:white">
  <div class="row p-2 m-2 justify-content-center">
    <div class="col-*">
      <h1>{{ event.name }}</h1>
    </div>
  </div>

  <div class="p-2 m-2">
    <div class="row m-2 justify-content-start" style="font-size: 20px">
      <div class="col-2"></div>
      <div class="col-2">
        <b>Sijainti</b>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        {{ event.location }}
      </div>
    </div>

    <div class="row m-2 justify-content-start" style="font-size: 20px">
      <div class="col-2"></div>
      <div class="col-2">
        <b>Aika</b>
      </div>
      <div class="col-1"></div>
      <div class="col-7">
        {{ event.date_time }}
      </div>
    </div>

    <div class="row m-2 justify-content-start" style="font-size: 20px">
      <div class="col-2"></div>
      <div class="col-2">
        <b>Osallistujia</b>
      </div>
      <div class="col-1"></div>
      <div class="col-7">
        {{ event.attendees }}
        {% if event.attendee_max > 0 %} / {{ event.attendee_max }}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="border rounded p-2">
    <div class="row m-1 p-1 justify-content-start" style="font-size: 20px">
      <div class="col-*">
        <h4>Kommentit</h4>
      </div>
    </div>
  

  {% for comment in comments %}
  <div class="row m-2 justify-content-start" style="font-size: 20px">
    <div class="col-*">
      {{ comment.name }} {{ comment.content }}
    </div>
  </div>
  {% endfor %}

  <form method="POST" action="{{ url_for('send_comment', event_id=event.id) }}">
    <div class="form-group">
      {{ form.content }}
      <ul>
        {% for error in form.content.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <button type="submit" class="btn-sm btn-primary">Lähetä</button>
  </form>

  </div>

  <div class="row justify-content-center" style="margin-top:30px">
    <div class="col-* m-1 p-1" role="group">
      <form
        method="POST"
        action="{{ url_for('event_join', event_id=event.id) }}"
      >
        <button type="submit" class="btn btn-lg btn-success">
          Osallistu
        </button>
      </form>
    </div>
    <div class="col-* m-1 p-1">
      <a href="{{ url_for('event_edit', event_id=event.id) }}">
        <button type="button" class="btn btn-lg btn-primary">
          Muokkaa
        </button>
      </a>
    </div>
    <div class="col-* m-1 p-1">
      <form
        method="POST"
        action="{{ url_for('event_delete', event_id=event.id) }}"
      >
        <button type="submit" class="btn btn-lg btn-danger">
          Poista
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
