{% extends "layout.html" %} {% block body %}
<div class>
  <table>
    <tr>
      <th>Tapahtuma</th>
      <th>Sijainti</th>
      <th>Osallistujia</th>
      <th>Ajankohta</th>
      <th>Max</th>
      <th>Min</th>
      <th>Muokkaa</th>
    </tr>
    {% for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.attendandees }}</td>
      <td>{{ event.date_time }}</td>
      <td>{{ event.attendee_max }}</td>
      <td>{{ event.attendee_min }}</td>
      <td><a href="events/modify/{{ event.id }}">Muokkaa</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
