{% extends "layout.html" %} {% block body %}
<div class="container">
  <form method="POST" action="{{ url_for('events_create') }}">
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name }}
      <ul>
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="form-group">
      {{ form.location.label }}
      {{ form.location }}
      <ul>
        {% for error in form.location.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="form-group">
      {{ form.time.label }}
      {{ form.time }}
      <ul>
        {% for error in form.time.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="form-group">
      {{ form.date.label }}
      {{ form.date }}
      <ul>
        {% for error in form.date.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="form-group">
      {{ form.attendee_max.label }}
      {{ form.attendee_max(value=0) }}
      <ul>
        {% for error in form.attendee_max.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="form-group">
      {{ form.attendee_min.label }}
      {{ form.attendee_min(value=0) }}
      <ul>
        {% for error in form.attendee_min.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <input type="submit" value="Lisää tapahtuma" />
    </div>
  </form>
</div>
{% endblock %}
